<div id="tablaEmpleados">

    <table class="contenedor-productos">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Télefono</th>
            <th>Credencial de Usuario</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="empleadoItem : ${empleados}">
            <td th:text="${empleadoItem.usuario.nombre}"></td>
            <td th:text="${empleadoItem.usuario.apellidos}"></td>
            <td th:text="${empleadoItem.usuario.cedula}"></td>
            <td th:text="${empleadoItem.usuario.email}"></td>

            <td>
                <span class="password" th:data-password="${empleadoItem.usuario.password}">******</span>
                <button class="toggle-password transparent-button">
                    <i id="eye-open" class="bi bi-eye"></i>
                    <i id="eye-close"class="bi bi-eye-slash" style="display:none;"></i>
                </button>
            </td>
            <td th:text="${empleadoItem.usuario.telefono}"></td>
            <td th:text="${empleadoItem.usuario.credencial == 0 ? 'Cliente' : 'Empleado'}"></td>
            <td>
                <button class="producto-eliminar" style="display: inline;">
                    <i class="bi bi-trash"></i>
                    <a th:href="@{/empleados/eliminar(id_Empleado=${empleadoItem.idEmpleado})}" style="text-decoration: none; color: inherit;"></a>
                </button>
                <br>
                ----------
                <br>
                <button class="producto-editar" style="display: inline;">
                    <i class="bi bi-pen"></i>
                </button>
            </td>
        </tr>
    </table> 
    <!-- Modal de edición -->
    <div id="modalEditar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
                <form class="editar-empleado-form" method="post" th:action="@{/empleados/actualizar}">

                    <input type="hidden" name="idEmpleado" id="idEmpleado">
                    <div class="form-input">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="usuario.nombre" class="form-control" placeholder="Nombre del empleado" required>

                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="usuario.apellidos" placeholder="Apellidos del empleado" required>

                        <label for="email">Email</label>
                        <input type="email" id="email" name="usuario.email" placeholder="Email del empleado" required>

                        <label for="password">Contraseña</label>
                        <div class="password-wrapper">
                            <input type="password" id="password" name="usuario.password" placeholder="Contraseña del empleado" required>
                            <button type="button" class="toggle-password transparent-button" aria-label="Toggle Password Visibility">
                                <i id="eye-open" class="bi bi-eye"></i>
                                <i id="eye-close" class="bi bi-eye-slash" style="display: none;"></i>
                            </button>
                        </div>

                        <label for="cedula">Cédula</label>
                        <input type="text" id="cedula" name="usuario.cedula" placeholder="Cédula del empleado" required>

                        <label for="telefono">Teléfono</label>
                        <input type="tel" id="telefono" name="usuario.telefono" placeholder="Teléfono del empleado" required>

                        <label for="credencial">Credencial</label>
                        <select id="credencial" name="usuario.credencial" required>
                            <option value="0">Cliente</option>
                            <option value="1">Empleado</option>
                        </select>
                    </div>
                    <input type="submit" value="Editar empleado" class="boton">
                </form>
            </div>
        </div>
    </div>
    <div th:if="${empleados.empty}">
        <p>No se encontro un cliente con tal cédula.</p>
    </div>
    <button class="goBackBtn"  onclick="window.location.href = '/empleadosApi/listar'">
        <i class="bi bi-view-list">Ver todos los clientes</i>
    </button>
</div>
