<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
        <link rel="stylesheet" th:href="@{/css/editarCliente.css}"/>
    </head>
    <body>
        <!-- NavigationBar -->
        <header>
            <div class="navbar">
                <label class="logo">Mushroom Store</label>
                <a href="../index">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contacto</a>
                <a href="#">Acerca de</a>

                <div class="dropdown">
                    <button class="dropbtn">Páginas
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a th:href="@{/clientes/listar}">Clientes</a>
                        <a th:href="@{/envios/listar}">Envíos</a>
                    </div>
                </div>
            </div>
        </header>
        <!--- Editar Cliente !-- comment -->
        <div class="content">
            <div class="input-container">
                <a class="go_back" th:href="@{/envios/listar}">Ir atrás</a>
            </div>
            <section class="editarEnvio-data">
                <div class="container">
                    <!-- Formulario para editar envío -->
                    <form class='editar-envio-form' th:action="@{/envios/actualizar}" th:object="${envio}" method="post">
                        <input type="hidden" name="idEnvio" th:value="${envio.idEnvio}">
                        <div class="row">
                            <div class="col-25">
                                <label for="codigoEnvio">Código de Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="codigoEnvio" name="codigoEnvio" placeholder="Código de Envío" required th:value="${envio.codigoEnvio}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="idPedido">ID del Pedido</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="idPedido" name="idPedido" placeholder="ID del Pedido" required th:value="${envio.idPedido}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="idCliente">ID del Cliente</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="idCliente" name="idCliente" placeholder="ID del Cliente" required th:value="${envio.idCliente}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="observacion">Observación</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="observacion" name="observacion" placeholder="Observación" required th:value="${envio.observacion}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="fechaEnvio">Fecha de Envio</label>
                            </div>
                            <div class="col-75">
                                <input type="datetime-local" id="fechaEnvio" name="fechaEnvio" placeholder="Fecha de Envio" required th:value="${envio.fechaEnvio}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="direccionEnvio">Dirección de Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="direccionEnvio" name="direccionEnvio" placeholder="Dirección de Envío" required th:value="${envio.direccionEnvio}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="estadoEnvio">Estado de Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="estadoEnvio" name="estadoEnvio" placeholder="Estado de Envío" required th:value="${envio.estadoEnvio}">
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Editar envío">
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="text/javascript" th:src="@{/js/alertScript.js}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Uso de la función para validar la edición del cliente
                validarEdicion('.editar-envio-form', '¿Estás seguro de continuar con la edición de este envío?', '/envios/listar');
            });
        </script>
    </body>
</html>
