<div id="tablaEnvios">

    <table class="contenedor-productos">
        <tr>
            <th>Código de envio</th>
            <th>Pedido</th>
            <th>Información del Cliente</th>
            <th>Dirección</th>
            <th>Fecha de Envío</th>
            <th>Observación</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="envio: ${envios}">
            <td th:text="${envio.codigoEnvio}"></td>
            <td th:text="${envio.idPedido}"></td>
            <td>
                <span th:each="cliente : ${clientes}">
                    <th:block th:if="${cliente.idCliente == envio.idCliente}">
                        Nombre: <span th:text="' ' + ${cliente.nombre + ' ' + cliente.apellidos}"></span><br>
                        Cédula: <span th:text="' ' + ${cliente.cedula}"></span><br>
                        Email: <span th:text="' ' + ${cliente.email}"></span><br>
                        Télefono: <span th:text="' ' + ${cliente.telefono}"></span><br>
                        <th:block th:break="${true}"></th:block>
                    </th:block>
                </span>
            </td>
            <td th:text="${envio.direccionEnvio}"></td>
            <td th:text="${#temporals.format(envio.fechaEnvio, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:text="${envio.observacion}"></td>
            <td th:text="${envio.estadoEnvio}"></td>
            <td>
                <button class="producto-eliminar" style="display: inline;">
                    <i class="bi bi-trash"></i>
                    <a th:href="@{/envios/eliminar(idEnvio=${envio.idEnvio})}" style="text-decoration: none; color: inherit;"></a>
                </button>
                <br>
                ----------
                <br>
                <button class="producto-editar" style="display: inline;">
                    <i class="bi bi-pen"></i>
                </button>
            </td>
        </tr>
    </table>
    <!-- MODAL DE EDITAR -->
    <div id="modalEditarEnvio" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
                <form class="editar-envio-form" method="post" th:action="@{/envios/actualizar}">
                    <input type="hidden" name="idEnvio" id="idEnvio">
                    <div class="form-input">
                        <label for="codigoEnvio_Envio">Código Envio</label>
                        <input type="text" id="codigoEnvio" name="codigoEnvio" placeholder="Código de Envío" required>

                        <label for="idPedido_Envio">Pedido</label>
                        <input type="text" id="idPedido" name="idPedido" placeholder="Pedido" required>

                        <!--
                        <select name="idPedido_Envio">
                            <option th:each="pedido : ${clientesListaTotal}" th:value="${cliente.id}" 
                                    th:text="${pedido.codigo}"></option>                                    
                        </select>
                        -->

                        <label for="idCliente_Envio">Cliente</label>

                        <select name="idCliente">
                            <option th:each="cliente : ${clientesListaTotal}" th:value="${cliente.id}" 
                                    th:text="${cliente.cedula + ' ' + cliente.nombre + ' ' + cliente.apellidos}"></option>                                    
                        </select>

                        <label for="fechaEnvio_Envio">Fecha de Envio</label>
                        <input type="datetime-local" id="fechaEnvio" name="fechaEnvio" placeholder="Fecha de Envio" required>

                        <label for="direccionEnvio_Envio">Dirección del envio</label>
                        <input type="text" id="direccionEnvio" name="direccionEnvio" placeholder="Dirección del envio" required>

                        <label for="observacion_Envio">Observación del envio</label>

                        <input type="text" id="observacion" name="observacion" placeholder="Observación del envio" required>

                        <label for="estadoEnvio_Envio">Estado</label>
                        <input type="text" id="estadoEnvio" name="estadoEnvio" placeholder="Estado del envio" required>
                    </div>
                    <input type="submit" value="Realizar envio">
                </form>
            </div>
        </div>
    </div>
    <div th:if="${clientes.empty}">
        <p>No se encontro un envío con tal código.</p>
    </div>
    <button class="goBackBtn"  onclick="window.location.href = '/envios/listar'">
        <i class="bi bi-view-list">Ver todos los envíos</i>
    </button>
</div>
