<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Busqueda Envio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
        <link rel="stylesheet" th:href="@{/css/resultadoBusqueda.css}"/>
    </head>
    <body>
        <!-- NavigationBar -->
        <header>
            <div class="navbar">
                <label class="logo">Mushroom Store</label>
                <a href="../index">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contacto</a>
                <a href="#">Acerca de</a>

                <div class="dropdown">
                    <button class="dropbtn">Páginas
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a th:href="@{/clientes/listar}">Clientes</a>
                        <a th:href="@{/envios/listar}">Envíos</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="input-container">
                <a class="go_back" th:href="@{/envios/listar}">Ir atrás</a>
            </div>
            <section class="busquedaEnvio-data">
                <div class="container">
                    <section th:object="${envioEncontrado}" method="post">
                        <div class="row">
                            <div class="col-25">
                                <label for="codigoEnvio">Código Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="codigoEnvio" name="codigoEnvio" th:value="${envioEncontrado.codigoEnvio}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="idPedido">ID Pedido</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="idPedido" name="idPedido" th:value="${envioEncontrado.idPedido}" readonly>
                            </div>
                        </div>
                        <div th:object="${clienteEnvio}" class="row">
                            <div class="col-25">
                                <label for="idCliente">Información cliente</label>
                            </div>
                            <div class="col-75">
                                Nombre: <span th:text="${clienteEnvio.nombre + ' ' + clienteEnvio.apellidos}"></span><br>
                                Cédula: <span th:text="${clienteEnvio.cedula}"></span><br>
                                Email: <span th:text="${clienteEnvio.email}"></span><br>
                                Teléfono: <span th:text="${clienteEnvio.telefono}"></span><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="fechaEnvio">Fecha Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="fechaEnvio" name="fechaEnvio" th:value="${#temporals.format(envioEncontrado.fechaEnvio, 'dd/MM/yyyy HH:mm:ss')}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="observacion">Observación</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="observacion" name="observacion" th:value="${envioEncontrado.observacion}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="direccionEnvio">Dirección Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="direccionEnvio" name="direccionEnvio" th:value="${envioEncontrado.direccionEnvio}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="estadoEnvio">Estado Envío</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="estadoEnvio" name="estadoEnvio" th:value="${envioEncontrado.estadoEnvio}" readonly="">
                            </div>
                        </div>
                    </section>
                    <div class="row">
                        <button class="btn_modify">
                            <a th:href="@{/envios/editar(codigoEnvio=${envioEncontrado.codigoEnvio})}">Editar</a>
                        </button>
                        <button class="btn_delete">
                            <a th:href="@{/envios/eliminar(codigoEnvio=${envioEncontrado.codigoEnvio})}">Eliminar</a>
                        </button>
                    </div>

                </div>
            </section>
        </div>
    </body>
</html>
