

<div class="content">
    <div class=" table">
        <div class="table_header">
            <p>Productos</p>
            <div>
                <input type="text" placeholder="Producto">
                <button id="openPopupBtn" class="boton">+</button><!--boton para agregar productos-->

            </div><br>
        </div>
        <div class="table_section">

            <table>
                <thead>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Calificacion</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                <th>Accion</th>
                </thead>

                <tbody>
                    <tr th:each="producto: ${productos}">
                        <td th:text="${producto.codigo}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.descripcion}"></td>
                        <td th:text="${producto.categoria}"></td>
                        <td th:text="${producto.calificacion}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.disponible?'Disponible':'No Disponible'}"></td>
                        <td>
                            <form th:action="@{/productos/eliminar/{codigo}(codigo=${producto.codigo})}" method="post" onsubmit="return confirm('¿Estas seguro de querer eliminar este producto?')">
                                <input id="botonDelete" type="submit" value="Eliminar"/> 
                                <!--input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="boton_delete">Eliminar</button-->
                            </form>
                            <!-- popup -->
                            <!--button id="openPopupBtn2" class="boton">Editar</button-->
                            <button class="openPopupBtn boton">Editar</button>
                            <!-- cambio al formulario de editar -->
                            <div class="popup">
                                <div class="popup-content">
                                    <span class="close">&times;</span>
                                    <section>
                                        <form th:action="@{/productos/actualizar}" method="post" onsubmit="return confirm('¿Estas seguro de querer actualizar este producto?')">
                                            <div class="form-group">
                                                <label>Nombre:</label>
                                                <input type="hidden" name="codigo" th:value="${producto.codigo}">
                                                <input type="text" name="nombre" class="form-control" placeholder="Nombre del producto" required th:value="${producto.nombre}">
                                            </div>
                                            <div class="form-group">
                                                <label>Descripción:</label>
                                                <input type="text" name="descripcion" class="form-control" placeholder="Descripción del producto" required th:value="${producto.descripcion}">
                                            </div>
                                            <div class="form-group">
                                                <label>Categoría:</label>
                                                <input type="text" name="categoria" class="form-control" placeholder="Categoria" required th:value="${producto.categoria}">
                                            </div>
                                            <div class="form-group">
                                                <label>Calificación:</label>
                                                <select name="calificacion" class="form-control" required th:value="${producto.calificacion}">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Precio:</label>
                                                <input type="number" name="precio" class="form-control" step="0.01" placeholder="Precio en ₡" required th:value="${producto.precio}">
                                            </div>
                                            <div class="form-group">
                                                <label>Disponibilidad:</label>
                                                <select name="venta" class="form-control">
                                                    <option value="true">Si</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <input type="submit" value="Editar" class="boton">
                                            <!--input type="hidden" name="_method" value="Agregar" /-->
                                            <!--button type="submit" class="boton_delete">Eliminar</button-->
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<!--button id="openPopupBtn">Registrar Producto</button-->

<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" id="closePopupBtn">&times;</span>
        <section>
            <form method="get" th:action="@{/productos/guardar}">
                <table>
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td>Categoria</td>
                            <td>Calificacion</td>
                            <td>Precio</td>
                            <td>Disponibilidad</td>
                            <td>Codigo</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="nombre"><br></td>
                            <td><input type="text" name="descripcion"><br></td>
                            <td><input type="text" name="categoria"><br></td>
                            <td><input type="text" name="calificacion"><br></td>
                            <td><input type="text" name="precio"><br></td>
                            <td><input type="text" name="venta"><br></td>
                            <td><input type="text" name="codigo"><br></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Agregar">
                <!--input type="hidden" name="_method" value="Agregar" />
                                <button type="submit" class="boton_delete">Eliminar</button-->
            </form>
        </section>
    </div>
</div>

<script src="scriptProductos.js"></script>
<!-- crear una lista con los productos de la base de datos -->
<script type="text/javascript" th:src="@{/scriptProductos.js}"></script>