@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #242568;
    --clr-main-light: #fcfcfc;
    --clr-white: #ececec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-main);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-main);
}

img {
    width: 250px;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 70vh;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: #dad7e3;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before, .boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    background-color: transparent;
    right: 0;
}

.boton-menu.active::before {
    bottom: 100%;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    top: 100%;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill, .boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: 0.85rem;
    background-color: var(--clr-main);
    padding: 1rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.contenedor-productos {
    display: block;
    border: 2px solid var(--clr-main);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.contenedor-productos th, .contenedor-productos td {
    border: 1px solid var(--clr-main);
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

.producto-eliminar, .producto-editar, .boton-anadir, .btn_detalles {
    color: var(--clr-white);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto-eliminar {
    background-color: #E64A72;
}

.producto-eliminar:hover {
    background-color: red;
}

.btn_detalles{
    background-color: #007bff80;
}

.producto-editar {
    background-color: #F99B1C;
}

.producto-editar:hover {
    background-color: #FCB762;
}
.btn_detalles:hover {
    background-color: blue;
}

.boton-anadir {
    background-color: #a4fdff;
    color: var(--clr-main);
}

.boton-anadir:hover {
    background-color: #00faff;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    .menu {
        height: auto;
        flex-direction: column;
        width: 250px;
    }

    .main {
        margin-left: 250px;
    }
}

@media (max-width: 480px) {
    .boton-menu {
        font-size: 0.75rem;
    }

    .menu {
        width: 100%;
    }

    .contenedor-productos th, .contenedor-productos td {
        font-size: 0.75rem;
        padding: 6px;
    }

    .boton-menu > i {
        font-size: 1rem;
    }

    img {
        width: 100px;
    }
}
