<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Registrar Proveedor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Registrar Nuevo Proveedor</h1>
        </div>
        
        <div class="form-container">
            <form th:action="@{/proveedores/registrar}" method="GET">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre">
                <br><br>
                <label for="telefono">Telefono: </label>
                <input type="text" name="telefono" id="telefono">
                <br><br>
                <label for="descripcion">Descripcion: </label>
                <textarea name="descripcion" id="descripcion"></textarea>
                <br><br>
                <label for="correo">Correo: </label>
                <input type="email" name="correo" id="correo">
                <br><br>
                <label for="direccion">Direccion: </label>
                <input type="text" name="direccion" id="direccion">
                <br><br>
                <label for="categoria">Categoria: </label>
                <input type="text" name="categoria" id="categoria">
                <br><br>
                <label for="informacionadicional">Informacion adicional: </label>
                <textarea name="informacionadicional" id="informacionadicional"></textarea>
                <br><br>
                <button type="submit">Registrar</button>
                <input type="button" value="Cancelar" onclick="window.location.href='./listar'">
            </form>
        </div>
    </body>
</html>
