.divPag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.divPag a {
    color: var(--clr-main);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-main);
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.divPag a:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.divPag span {
    color: var(--clr-main);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-main);
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    font-weight: bold;
}