<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/style_Productos.css">
    </head>
    <body>
    <div id="dashboard">
        <header>
            <h1>Ventana Productos</h1>
        </header>
        <div class="widgets">
            <div class="widget">
               
                <a href="./productos/listar">Productos</a><br>
            </div>
            <div class="widget">
                <!--h2>Ganancias</h2-->
                <a href="./ofertas/listar">Ofertas</a>
            </div>
            <!-- Agrega más widgets según necesites -->
        </div>
    </div>
</body>
</html>
